<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Reset Password</title>
  <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/static/semantic.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="/static/app.js"></script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Reset Password
      </div>
    </h2>

    {{if eq .Error false}}    
    <form class="ui reset-password form" method="post">
      <div class="ui stacked segment">
        <input type="hidden" name="userId" value="{{ .Message }}" />
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="resetPassword" placeholder="New Password">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="confirmPassword" placeholder="New Password Confirmation">
          </div>
        </div>
        <div class="ui fluid large teal profile reset submit button">Save</div>
      </div>
      <div class="ui error message"></div>
    </form>
    {{else}}
    <div class="ui info message">{{.Message}}</div>
    {{end}}
  </div>
</div>
</body>

</html>
