<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/static/semantic.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="/static/app.js"></script>

  <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 86dlex8efjc5uq
    authorize: false
    onLoad: onLinkedInLoad
  </script>

  <script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    //function onSuccess(data) {
    //    console.log(data);
    //    GOTEST.ajaxLogin(data);
    //}

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~:(id,picture-url,first-name,last-name,email-address,api-standard-profile-request)").result(GOTEST.ajaxLogin).error(onError);
    }
  </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Profile
      </div>
    </h2>
    <div class="ui segments">
      <div class="ui segment">
        <h4 class="ui header">Welcome!</h4>
        <a class="ui top right attached label" href="/logout">Logout</a>
        <p>Here is your profile information</p>
      </div>
      <div class="ui segment">
        <div class="ui list">
          {{ range $index, $profile := .ProfileData }}
          <div class="item">
            <div class="header">{{ $profile.Key }}</div>
            {{ $profile.Value }}
          </div>
          {{ end }}
          <div class="item">
            <div class="header">registration date</div>
            {{ .CreatedAt }}
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui edit teal button">Edit</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="ui small profile modal">
  <div class="header">Join us</div>
  <div class="content">

    <form class="ui editprofile form" method="post" action="/profile/{{.Id}}" >
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="hidden" name="ProfileData.0.Key" value="fullname" />
            <input type="text" name="ProfileData.0.Value" placeholder="Full Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="map signs icon"></i>
            <input type="hidden" name="ProfileData.1.Key" value="address" />
            <input id="googleSearch" type="text" name="ProfileData.1.Value" placeholder="Address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="hidden" name="ProfileData.2.Key" value="email" />
            <input type="text" name="ProfileData.2.Value" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="phone icon"></i>
            <input type="hidden" name="ProfileData.3.Key" value="phone" />
            <input type="text" name="ProfileData.3.Value" placeholder="Phone">
          </div>
        </div>
      </div>
      <div class="ui error message"></div>
    </form>    
  </div>
  <div class="actions">
    <div class="ui approve teal button">Save</div>
    <div class="ui cancel red button">Cancel</div>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9MDFSqogjAxpX5f8_-jwcGAtbmaCEGuc&libraries=places"></script>
<script>
  var input = document.getElementById('googleSearch');
  var searchBox = new google.maps.places.SearchBox(input, {});
</script>
</body>

</html>
